/* Basic styling */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
    /* primari colors */
    --Blue: hsl(246, 80%, 60%);
    --Light-red : hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red2 : hsl(348, 100%, 68%);
    --Lime-green : hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    /* neutral */
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
    background-color: var(--Very-dark-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container */
main .container{
    display: grid;
    gap: 1.8rem;
}
/* user profile */

.user-info{
    gap: 1.1rem;
    padding: 2rem ;
    background-color: var(--Blue);
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
}
.user-info .profile-pic{
    width: clamp(4rem, 3.5rem + 2.2222vw, 5.5rem);
    display: flex;
    align-items: center;
}
.user-info .profile-pic img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: .2rem solid #fff;
}

.user-info .user-name p, h2{
    color:  #fff;
    font-weight: 300;
    line-height: 1.25;
    
}
.user-info .user-name h2{
    font-size: clamp(1.4375rem, 1.0417rem + 1.7593vw, 2.625rem);
}
.user-info .user-name p{
    opacity: .75;
    font-size: .8rem;
}
.card.profile .time-range {
    padding: 1rem 1.5rem;
    justify-content: center;
    gap: 3.5rem;
    
}
.card.card.profile .time-range li a:not(.active){
    color: var(--Desaturated-blue);
}
/* card data */
.dataShow{ 
    /* Animation used when data is showed */
    animation:   myAnimFadeIn 1s ease 0s 1 normal forwards !important;
  }
.card.c-data{
    background-repeat: no-repeat;
    background-position: top -0.6rem right 1.5rem;
    padding-top: 2.35em;
    /* background-size: 34%; */
    display: flex;
    align-items: flex-end;
}
.card-header{
    align-items: center;
    justify-content: space-between;
}
.card-header h3{
    font-weight: 400;
}
.card.c-data > *{
    color: #fff;
}

.card-body{
    border-radius: 1rem;
    padding: 1.5rem ;
    width: 100%;
}
.card-body .card-content{
    align-items: center;
    justify-content: space-between;
}
.card-body .card-content h2{
    font-size: clamp(1.4375rem, 0.75rem + 3.0556vw, 3.5rem);
}
.card-body .card-content p{
    color: var(--Pale-Blue);
    font-size: .8rem;
}

.card:nth-of-type(2){
 /* Use gradients as background in order to avoid corners color glitch  */
 background: url(/images/icon-work.svg) top -0.6rem right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Light-red) 0%,
    var(--Light-red) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
 
}
.card:nth-of-type(3){
    background: url(/images/icon-play.svg) top -0.6rem right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Soft-blue) 0%,
    var(--Soft-blue) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
    
   }
.card:nth-of-type(4){
 background: url(/images/icon-study.svg) top -0.6rem right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Light-red2) 0%,
    var(--Light-red2) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
 
}
.card:nth-of-type(5){
    background: url(/images/icon-exercise.svg) top -1% right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Lime-green) 0%,
    var(--Lime-green) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
   }
.card:nth-of-type(6){
 background: url(/images/icon-social.svg) top -1rem right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Violet) 0%,
    var(--Violet) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
}
.card:nth-of-type(7){
 background: url(/images/icon-self-care.svg) top -0.6rem right 1.5rem no-repeat ,
 linear-gradient(
    to bottom,
    var(--Soft-orange) 0%,
    var(--Soft-orange) 80%,
    var(--Dark-blue) 80%,
    var(--Dark-blue) 100% )
}      
/* utilites */
.container{
    max-width: 70rem;
    margin-inline: auto;
    padding: 4rem 1.5rem;

}
.card{
    border-radius: 1rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.background-dark{
    background-color: var(--Dark-blue);
}
/* Class triggered when user click time-range a tags */
.active{
    color: #fff;
}
/* attributions */
.attribution { font-size: 11px; text-align: center; 
color: var(--Pale-Blue);
}
.attribution a { color: var(--Violet) }
/* media queries */
@media (min-width: 35rem){
    main .container{
        grid-template-columns: repeat(2, 1fr);
       
    }
    /* profile card */
    .card.profile{
        grid-column: 1/-1;
    }
    /* data cards */
    .card.c-data .card-body .card-content{
        flex-direction: column;
        align-items: flex-start;

    }
}
/* Animations thanks to https://webcode.tools/generators/css/keyframe-animation */
@keyframes myAnimRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes myAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes myAnimFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@media(min-width: 54rem){
    main .container{
        grid-template-columns: repeat(4, 1fr);
       
    }
    /* profile card */
    .card.profile{
        grid-column: 1;
        grid-row: 1/3;
        animation: myAnimLeft .7s ease-in-out 0s 1 normal forwards;
    }
    .card.profile .user-info{
        padding-bottom: 4.5rem;
    }
    .time-range{
        flex-direction: column;
        gap: .5rem !important;
        justify-content: flex-start !important;
        margin-block: .5rem;
        
    }
    .time-range a{
        transition: color .3s ease-in-out;
    }
    .time-range a:hover{
        cursor: pointer;
        color: #fff !important;
    }
    .user-info{
        flex-direction: column;
        align-items: flex-start !important;
        gap: 2.6rem;
    }
    /* data cards */
    
    .card.c-data{
        animation: myAnimRight .7s ease-in-out 0s 1 normal forwards;
    }
    .card.c-data .card-body{
        position: relative;
        cursor: pointer;
    }
    /* Use a before to overlay background, in order to increase just the background brightness when hover  */
    .card.c-data .card-body::before{
        content: "";
        background-color: var(--Dark-blue);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: 1;
        transition: all .3s ease-in-out;
    }
    
    .card.c-data .card-body:hover::before{
        filter: brightness(1.6);
        
        
    }
    .card.c-data .card-header{
        position: relative;
        margin-bottom: 1rem;
        z-index: 2;        
    }
    
    .card.c-data .card-header svg:hover .ellipsis{
        transition: fill .3s ease-in-out;
    }
    .card.c-data .card-header svg:hover .ellipsis{
        fill: #fff;
    }
    .card.c-data .card-content{
        position: relative;
        gap: .3rem;
        z-index: 2;
    }
}
